@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
}
.swiper-button-prev {
    color: #00a149 !important;
}
.swiper-button-next {
    color: #00a149 !important;
}